# 3 - Data Input and Validation

## 1 - Insing read_csv()
* = Data einlesen und validieren:
    1. `read_excel(...)`
    2. `read_json(...)`
    3. `read_sql_table(...)`
    4. `read_csv(...)` - hat viele Parameter
        1. `pathToFile`
        2. `skiprows=None` - Spalten skipen

In [4]:
import pandas as pd

oo = pd.read_csv('./ALL MEDALISTS.csv') # in Jupyter SHIFT+TAB = Doku anzeigen + nochmal klicken, um 
print(oo)

oo = pd.read_csv('./ALL MEDALISTS.csv', skiprows=4) # vier ersten Zeilen skippen
print(oo)

List of medallists at the Games of the Olympiad per edition, sport, discipline, gender and event  \
0                                                    NaN
1      DISCLAIMER: The IOC Research and Reference Ser...
2                                                    NaN
3                                                   City
4                                                 Athens
...                                                  ...
29215                                            Beijing
29216                                            Beijing
29217                                            Beijing
29218                                            Beijing
29219                                            Beijing

      Unnamed: 1 Unnamed: 2       Unnamed: 3            Unnamed: 4 Unnamed: 5  \
0            NaN        NaN              NaN                   NaN        NaN
1            NaN        NaN              NaN                   NaN        NaN
2            NaN        NaN              NaN                   NaN        NaN
3        Edition      Sport       Discipline               Athlete        NOC
4           1896   Aquatics         Swimming         HAJOS, Alfred        HUN
...          ...        ...              ...                   ...        ...
29215       2008  Wrestling  Wrestling Gre-R        ENGLICH, Mirko        GER
29216       2008  Wrestling  Wrestling Gre-R  MIZGAITIS, Mindaugas        LTU
29217       2008  Wrestling  Wrestling Gre-R       PATRIKEEV, Yuri        ARM
29218       2008  Wrestling  Wrestling Gre-R         LOPEZ, Mijain        CUB
29219       2008  Wrestling  Wrestling Gre-R        BAROEV, Khasan        RUS

      Unnamed: 6      Unnamed: 7    Unnamed: 8 Unnamed: 9
0            NaN             NaN           NaN        NaN
1            NaN             NaN           NaN        NaN
2            NaN             NaN           NaN        NaN
3         Gender           Event  Event_gender      Medal
4            Men  100m freestyle             M       Gold
...          ...             ...           ...        ...
29215        Men       84 - 96kg             M     Silver
29216        Men      96 - 120kg             M     Bronze
29217        Men      96 - 120kg             M     Bronze
29218        Men      96 - 120kg             M       Gold
29219        Men      96 - 120kg             M     Silver

[29220 rows x 10 columns]
          City  Edition      Sport       Discipline               Athlete  \
0       Athens     1896   Aquatics         Swimming         HAJOS, Alfred
1       Athens     1896   Aquatics         Swimming      HERSCHMANN, Otto
2       Athens     1896   Aquatics         Swimming     DRIVAS, Dimitrios
3       Athens     1896   Aquatics         Swimming    MALOKINIS, Ioannis
4       Athens     1896   Aquatics         Swimming    CHASAPIS, Spiridon
...        ...      ...        ...              ...                   ...
29211  Beijing     2008  Wrestling  Wrestling Gre-R        ENGLICH, Mirko
29212  Beijing     2008  Wrestling  Wrestling Gre-R  MIZGAITIS, Mindaugas
29213  Beijing     2008  Wrestling  Wrestling Gre-R       PATRIKEEV, Yuri
29214  Beijing     2008  Wrestling  Wrestling Gre-R         LOPEZ, Mijain
29215  Beijing     2008  Wrestling  Wrestling Gre-R        BAROEV, Khasan

       NOC Gender                       Event Event_gender   Medal
0      HUN    Men              100m freestyle            M    Gold
1      AUT    Men              100m freestyle            M  Silver
2      GRE    Men  100m freestyle for sailors            M  Bronze
3      GRE    Men  100m freestyle for sailors            M    Gold
4      GRE    Men  100m freestyle for sailors            M  Silver
...    ...    ...                         ...          ...     ...
29211  GER    Men                   84 - 96kg            M  Silver
29212  LTU    Men                  96 - 120kg            M  Bronze
29213  ARM    Men                  96 - 120kg            M  Bronze
29214  CUB    Men                  96 - 120kg            M    Gold
29215  RUS    Men                  96 - 120kg            M  Silver

[29216 rows x 10 columns]

## 2 - Using shape
* return Tupel der die Dimension return => DataSet checken

In [6]:
print(oo.shape) # Ausgabe: (Zielen, Spalten)

print(oo.shape[0]) # nur Zeilen
print(oo.shape[1]) # nur Spalten

(29216, 10)
29216
10

## 3 - Using head() and tail()
* ersten und letzten Zeilen anzeigen (default ersten/letzten 5)
* Head ist hilfreich, um zu checken, ob Daten die sind, die man möchte

In [8]:
print(oo.head())
print(oo.tail())

print(oo.head(3)) # statt 5 nur 3 Zeilen ausgeben

City  Edition     Sport Discipline             Athlete  NOC Gender  \
0  Athens     1896  Aquatics   Swimming       HAJOS, Alfred  HUN    Men
1  Athens     1896  Aquatics   Swimming    HERSCHMANN, Otto  AUT    Men
2  Athens     1896  Aquatics   Swimming   DRIVAS, Dimitrios  GRE    Men
3  Athens     1896  Aquatics   Swimming  MALOKINIS, Ioannis  GRE    Men
4  Athens     1896  Aquatics   Swimming  CHASAPIS, Spiridon  GRE    Men

                        Event Event_gender   Medal
0              100m freestyle            M    Gold
1              100m freestyle            M  Silver
2  100m freestyle for sailors            M  Bronze
3  100m freestyle for sailors            M    Gold
4  100m freestyle for sailors            M  Silver
          City  Edition      Sport       Discipline               Athlete  \
29211  Beijing     2008  Wrestling  Wrestling Gre-R        ENGLICH, Mirko
29212  Beijing     2008  Wrestling  Wrestling Gre-R  MIZGAITIS, Mindaugas
29213  Beijing     2008  Wrestling  Wrestling Gre-R       PATRIKEEV, Yuri
29214  Beijing     2008  Wrestling  Wrestling Gre-R         LOPEZ, Mijain
29215  Beijing     2008  Wrestling  Wrestling Gre-R        BAROEV, Khasan

       NOC Gender       Event Event_gender   Medal
29211  GER    Men   84 - 96kg            M  Silver
29212  LTU    Men  96 - 120kg            M  Bronze
29213  ARM    Men  96 - 120kg            M  Bronze
29214  CUB    Men  96 - 120kg            M    Gold
29215  RUS    Men  96 - 120kg            M  Silver
     City  Edition     Sport Discipline            Athlete  NOC Gender  \
0  Athens     1896  Aquatics   Swimming      HAJOS, Alfred  HUN    Men
1  Athens     1896  Aquatics   Swimming   HERSCHMANN, Otto  AUT    Men
2  Athens     1896  Aquatics   Swimming  DRIVAS, Dimitrios  GRE    Men

                        Event Event_gender   Medal
0              100m freestyle            M    Gold
1              100m freestyle            M  Silver
2  100m freestyle for sailors            M  Bronze

## 4 - Using info()
* gibt Summery des DataFrames aus:
    1. Number of Entries
    2. DataTypes
    3. NotNull-Einträge
* also sowas wie Info/Eigensschafen der TabellenSpalten-Namen von DB

In [9]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          29216 non-null  object
 1   Edition       29216 non-null  int64
 2   Sport         29216 non-null  object
 3   Discipline    29216 non-null  object
 4   Athlete       29216 non-null  object
 5   NOC           29216 non-null  object
 6   Gender        29216 non-null  object
 7   Event         29216 non-null  object
 8   Event_gender  29216 non-null  object
 9   Medal         29216 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB