# 4 - Basic Analysis

## 1 - Using value_counts()
* `Series.value_counts(normalize=False, sort=True, ascending=False, bins=none, dropna=True)` = returnt Series Objekt mit Unique-Werten
    * erste = was am meistens vorkommpt
    + dropna - ????

In [13]:
import pandas as pd

oo = pd.read_csv('./ALL MEDALISTS.csv', skiprows=4)
print(type(oo))
print(oo.head())

oo.Edition.value_counts() #wie viele Medale bei Olympia

oo.Gender.value_counts() #wie viele Medale zu Frauen und Männder
oo.Gender.value_counts(ascending=True)

oo.Gender.value_counts(ascending=True, dropna=False)

<class 'pandas.core.frame.DataFrame'>
     City  Edition     Sport Discipline             Athlete  NOC Gender  \
0  Athens     1896  Aquatics   Swimming       HAJOS, Alfred  HUN    Men
1  Athens     1896  Aquatics   Swimming    HERSCHMANN, Otto  AUT    Men
2  Athens     1896  Aquatics   Swimming   DRIVAS, Dimitrios  GRE    Men
3  Athens     1896  Aquatics   Swimming  MALOKINIS, Ioannis  GRE    Men
4  Athens     1896  Aquatics   Swimming  CHASAPIS, Spiridon  GRE    Men

                        Event Event_gender   Medal
0              100m freestyle            M    Gold
1              100m freestyle            M  Silver
2  100m freestyle for sailors            M  Bronze
3  100m freestyle for sailors            M    Gold
4  100m freestyle for sailors            M  Silver

Women     7495
Men      21721
Name: Gender, dtype: int64

## 2 - Using sort_values()
* sortiert nach Werten
* `Series.sort_values(axis=0, ascending=True, inplace=False, kind='quicksort', na_postion='last')`
    * asix = nach Welcher Achse sortieren = nach Spalte oder Zeile
* `DataFrame.sort_values(by, axis=0, ascending=True, inplase=False, kind='quicksort', na_postion='last)` = z.B mehrere Series sortieren

In [8]:
auth = oo.Athlete.sort_values()
print(auth)

oo.sort_values(by=['Edition', 'Athlete']) # wird nach Edition dann in Edition nach Athelete-Name sortiert

    # inplace - ???

651                 AABYE, Edgar
2849       AALTONEN, Arvo Ossian
2852       AALTONEN, Arvo Ossian
7716    AALTONEN, Paavo Johannes
7730    AALTONEN, Paavo Johannes
                  ...
603                   ÖSTMO, Ole
608                   ÖSTMO, Ole
621                   ÖSTMO, Ole
596                   ÖSTMO, Ole
8051           ÖSTRAND, Per-Olof
Name: Athlete, Length: 29216, dtype: object

          City  Edition       Sport  ...                 Event Event_gender   Medal
7       Athens     1896    Aquatics  ...       1200m freestyle            M  Silver
82      Athens     1896  Gymnastics  ...         rope climbing            M    Gold
110     Athens     1896  Gymnastics  ...   team, parallel bars            M  Silver
111     Athens     1896  Gymnastics  ...   team, parallel bars            M  Silver
48      Athens     1896     Cycling  ...  individual road race            M  Bronze
...        ...      ...         ...  ...                   ...          ...     ...
28095  Beijing     2008  Equestrian  ...                  team            X  Bronze
28819  Beijing     2008     Sailing  ...     RS:X - Windsurfer            M  Bronze
28977  Beijing     2008   Taekwondo  ...            49 - 57 kg            W  Bronze
28387  Beijing     2008  Gymnastics  ...     group competition            W    Gold
29007  Beijing     2008      Tennis  ...               singles            W  Bronze

[29216 rows x 10 columns]

## 3 - Boolean indexing
* Boolean Vectors um Daten zu Filtern = es wird anhand von Conditions Boolean Vector für Zeilen erstelle, die dann angezeigt werden = Filterung 
    * statt and/or/not &/|/~ benutzen

In [3]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [9]:
oo.Medal == 'Gold' #wenn Medal == Gold => wird Tabelle mit True/False erstellt

0         True
1        False
2        False
3         True
4        False
         ...
29211    False
29212    False
29213    False
29214     True
29215    False
Name: Medal, Length: 29216, dtype: bool

In [10]:
oo[oo.Medal == 'Gold'] # hier wird gefilter nur True-Zeilen werden ausgegeben

          City  Edition  ... Event_gender Medal
0       Athens     1896  ...            M  Gold
3       Athens     1896  ...            M  Gold
6       Athens     1896  ...            M  Gold
9       Athens     1896  ...            M  Gold
13      Athens     1896  ...            M  Gold
...        ...      ...  ...          ...   ...
29199  Beijing     2008  ...            M  Gold
29203  Beijing     2008  ...            M  Gold
29206  Beijing     2008  ...            M  Gold
29210  Beijing     2008  ...            M  Gold
29214  Beijing     2008  ...            M  Gold

[9850 rows x 10 columns]

In [12]:
oo[(oo.Medal == 'Gold') & (oo.Gender == 'Women')]

           City  Edition  ... Event_gender Medal
417       Paris     1900  ...            W  Gold
641       Paris     1900  ...            X  Gold
649       Paris     1900  ...            W  Gold
710    St Louis     1904  ...            W  Gold
713    St Louis     1904  ...            W  Gold
...         ...      ...  ...          ...   ...
29134   Beijing     2008  ...            W  Gold
29147   Beijing     2008  ...            W  Gold
29155   Beijing     2008  ...            W  Gold
29163   Beijing     2008  ...            W  Gold
29171   Beijing     2008  ...            W  Gold

[2485 rows x 10 columns]

## 4 - String handling
* über `Series.str` kann man auf StringKlasse-Methoden zugreifen: 
    1. `Series.str.constrain()`
    2. `Series.str.startswith()`
    3. `Series.str.isnumeric()`

In [16]:
oo.Athlete.str.contains('Florence') # da contains() True/False zurückliefert => wird dieses auch angezeigt =>

0        False
1        False
2        False
3        False
4        False
         ...
29211    False
29212    False
29213    False
29214    False
29215    False
Name: Athlete, Length: 29216, dtype: bool

In [15]:
oo[oo.Athlete.str.contains('Florence')]

                        City  Edition  ... Event_gender   Medal
1843                  London     1908  ...            W    Gold
1848                  London     1908  ...            X  Bronze
4173                   Paris     1924  ...            W  Silver
8162                Helsinki     1952  ...            W  Bronze
9060   Melbourne / Stockholm     1956  ...            W  Silver
10849                  Tokyo     1964  ...            W  Bronze
16817            Los Angeles     1984  ...            W  Silver
18287                  Seoul     1988  ...            W    Gold
18305                  Seoul     1988  ...            W    Gold
18347                  Seoul     1988  ...            W    Gold
18374                  Seoul     1988  ...            W  Silver

[11 rows x 10 columns]

## 5 - Challenge/Solution
1. In which events did Jesse Owens win a Medal
2. Which country has won the most men's gold Medals in Singles badminto over the years
    1. sort alphabetically by player's name
3. Which three countries have won the most medals in resent years (from 1984 to 2008)
4. Display the male gold medal winners for the 100m track and field sprint event over the years
    1. list result with most recent
    2. show Olympic city edition, athlete, country they present

In [18]:
jessi_owens: pd.core.frame.DataFrame = oo[oo['Athlete'] == 'OWENS, Jesse']
#type(jessi_owens)
jessi_owens['Event']

6427            100m
6439            200m
6456    4x100m relay
6523       long jump
Name: Event, dtype: object

In [26]:
gold_medals_badminton: pd.core.frame.DataFrame = oo[(oo.Medal=='Gold') & (oo.Gender == 'Men') & (oo.Sport == 'Badminton')]
gold_medals_badminton

gold_medals_badminton.sort_values(by='Athlete')

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold

In [27]:
recent: pd.core.frame.DataFrame = oo[oo['Edition'] >= 1984]
recent.NOC.value_counts().head(3)

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64

In [35]:
gold_medal_winners = oo[(oo.Gender == 'Men') & (oo.Medal == 'Gold') & (oo.Event == '100m')]
gold_medal_winners.sort_values(by='Edition', ascending=False)
gold_medal_winners.sort_values(by='Edition', ascending=False)[['City', 'Edition', 'Athlete', 'NOC']]

                        City  Edition                Athlete  NOC
27552                Beijing     2008            BOLT, Usain  JAM
25539                 Athens     2004         GATLIN, Justin  USA
23521                 Sydney     2000        GREENE, Maurice  USA
21598                Atlanta     1996        BAILEY, Donovan  CAN
19859              Barcelona     1992      CHRISTIE, Linford  GBR
18284                  Seoul     1988            LEWIS, Carl  USA
16794            Los Angeles     1984            LEWIS, Carl  USA
15374                 Moscow     1980           WELLS, Allan  GBR
14069               Montreal     1976       CRAWFORD, Hasely  TRI
12902                 Munich     1972         BORZOV, Valery  URS
11865                 Mexico     1968       HINES, James Ray  USA
10823                  Tokyo     1964          HAYES, Robert  USA
9924                    Rome     1960            HARY, Armin  EUA
9009   Melbourne / Stockholm     1956  MORROW, Robert Joseph  USA
8121                Helsinki     1952        REMIGINO, Lindy  USA
7302                  London     1948      DILLARD, Harrison  USA
6427                  Berlin     1936           OWENS, Jesse  USA
5806             Los Angeles     1932           TOLAN, Eddie  USA
5095               Amsterdam     1928        WILLIAMS, Percy  CAN
4236                   Paris     1924       ABRAHAMS, Harold  GBR
2996                 Antwerp     1920       PADDOCK, Charles  USA
2022               Stockholm     1912           CRAIG, Ralph  USA
1191                  London     1908       WALKER, Reginald  RSA
737                 St Louis     1904           HAHN, Archie  USA
231                    Paris     1900        JARVIS, Francis  USA
13                    Athens     1896          BURKE, Thomas  USA